:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --background-color: #f6f1eb;
  --foreground-color: #552c3c;
  --active-text-color: #ff0200;
  --dropdown-button-color: #e5dfd8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 1023px) {
  body {
    transform: rotate(90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}
body {
  color: rgb(var(--foreground-color));
  background: var(--background-color);
}

.active-text {
  color: var(--active-text-color) !important;
}
a {
  text-decoration: none;
  color: inherit;
}

.animationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
}

.navbar-left {
  display: flex;
  align-items: center;
  font-family: "Prive";
  font-size: 20px;
  color: red;
}

.navbar-logo {
  margin-right: 10px;
}

.navbar-right {
  display: flex;

  font-size: 20px;
}
.navbar-item:hover {
  color: red;
}
.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Prive";
}

.navbar-item {
  margin-right: 60px;
}
.sub-menu {
  display: none;
  position: absolute;
  background-color: #e5dfd8;
  padding: 10px;
  border-radius: 5%;
  color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: -6.5%;
}

.sub-menu li {
  list-style-type: none;
  text-align: center;
}

.sub-menu li a {
  display: block;
  text-decoration: none;
}

.menu-item:hover .sub-menu {
  display: block;
}

.sub-menu li:hover {
  color: red;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  margin-top: 5%;
  color: red;
  font-family: Prive;
  font-size: 25px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-image {
  max-width: 100%;
  max-height: 100%;
  width: 1220px;
  height: 1510px;
  margin-bottom: 5%;
}

.chicubun-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

.chicubun-title {
  font-size: 70px;
  color: red;
  margin-bottom: 2%;
  font-family: Prive;
}

.chicubun-subtitle {
  font-size: 18px;
  font-family: prive;
  max-width: 925px;
  margin-bottom: 3%;
}

.chicubun-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.chicubun-image {
  max-width: 100%;
  max-height: 100%;
  width: 1085px;
  height: auto;
}

@font-face {
  font-family: "Eczar";
  src: url("/fonts/eczar/Eczar-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Eczar-Bold";
  src: url("/fonts/eczar/Eczar-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Prive";
  src: url("/fonts/prive/Prive Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Prive-Bold";
  src: url("/fonts/prive/Prive Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* Estilos para la página About */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10%;
  margin-top: 8%;
}

.about-title {
  font-family: "Prive";
  font-size: 22px;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5%;
  color: #ff0200;
  margin-left: 2%;
}

.about-columns {
  display: flex;
  justify-content: center;
}

.about-text {
  flex: 1;
  font-family: "Eczar";
  font-size: 21px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 3%;
  max-height: 568px;
  max-height: 100%;
  margin-bottom: 10%;
  max-width: 472px;
  color: #000000;
}

.about-image-container {
  display: flex;
  justify-content: center;
}

.about-image {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.about-content-container {
  margin: 0 10%;
  margin-bottom: 10px;
}

.text-and-image-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

/* Estilos para la página Credits */
.credits-container {
  margin-left: 11%;
  margin-top: 3%;
}

.section-title {
  font-weight: bold;
  margin-bottom: 1%;
  font-family: Prive;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff0200;
}
.section {
  margin-bottom: 2%;
}
.credit1 {
  color: #ff0200;
  font-family: Prive;
  font-size: 31px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.credtuser {
  font-family: Prive;
  font-size: 31px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #552c3c;
  max-width: 950px;
}

/*///////////////////////////////////////////////*/

.fechassub {
  font-family: Eczar;
  font-size: 32px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 5%;
  white-space: nowrap;
  width: 169px;
  height: 56px;
}

.fechassub p {
  margin-bottom: 8%;
}

.textcontainer {
  font-family: Eczar;
  font-size: 31px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #552c3c;
  border-bottom: 3px solid #552c3c;
}
.textcontainer:hover {
  font-family: Eczar;
  font-size: 31px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: red;
  border-bottom: 3px solid red;
}
.closethat:hover {
  fill: red;
}
