:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --background-color: #f6f1eb;
  --foreground-color: #552c3c;
  --active-text-color: #ff0200;
  --dropdown-button-color: #e5dfd8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-color));
  background: var(--background-color);
}

.active-text {
  color: var(--active-text-color) !important;
}
a {
  text-decoration: none;
  color: inherit;
}

.animationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 10%;
  font-family: 'Prive';
  font-size: 20px;
  color: red; 
}

.navbar-logo {
  margin-right: 10px;
}

.navbar-right {
  display: flex;
  margin-right: 10%;
  font-size: 20px;
}
.navbar-item:hover {
  color: red; 
}
.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Prive';
}

.navbar-item {
  margin-right: 60px;
}
.sub-menu {
  display: none;
  position: absolute;
  background-color: #E5DFD8;
  padding: 10px;
  border-radius: 5%;
  color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sub-menu li {
  list-style-type: none;
  text-align: center; /* Centra horizontalmente el texto */
}

.sub-menu li a {
  display: block;
  text-decoration: none;
}

.menu-item:hover .sub-menu {
  display: block;
}




/* Añade estilos adicionales según tus preferencias */


.circle-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.circle {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}



@font-face {
  font-family: 'Prive';
  src: url('/public/Prive\ Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Eczar';
  src: url('/public/Eczar-VariableFont_wght.ttf') format('woff2');
}

        /* Estilos para la página About */
        .about-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          margin-bottom: 10%;
        }

        .about-title {
          font-family: 'Prive';
          font-size: 22px;
          font-weight: 700;
          line-height: 61px;
          letter-spacing: 0em;
          text-align: left;
          margin-bottom: 5%;
          color: #FF0200;
          margin-left: 2%;
        }

        .about-columns {
          display: flex;
          justify-content: center;
        }

        .about-text {
          flex: 1;
          font-family: 'Eczar';
          font-size: 21px;
          font-weight: 400;
          line-height: 37px;
          letter-spacing: 0em;
          text-align: left;
          padding: 0 3%;
          max-height: 568px;
          max-height: 100%;
          margin-bottom: 10%;
          max-width: 472px;
          color: #000000;
          
        }

        .about-image-container {
          display: flex;
          justify-content: center;
        }

        .about-image {
          max-width: 100%;
          width: 100%;
          height: auto;
        }

        .about-content-container {
          margin: 0 10%;
          margin-bottom: 10px;
        }

        .text-and-image-container {
          display: flex;
          flex-direction: column;
          max-width: 100%;
        }



        /* Estilos para la página Credits */
        .credits-container {
          margin-left: 11%;
          margin-top: 3%;
        }

        .section-title {
          font-weight: bold;
          margin-bottom: 1%;
          font-family: Prive;
          font-size: 42px;
          font-weight: 700;
          line-height: 50px;
          letter-spacing: 0em;
          text-align: left;
          color: #FF0200;
        }
        .section{
          margin-bottom: 2%;
        }
        .credit1{
          color:#FF0200;
          font-family: Prive;
          font-size: 31px;
          font-weight: 700;
          line-height: 36px;
          letter-spacing: 0em;
          text-align: left;
        }

        .credtuser{
          font-family: Prive;
          font-size: 31px;
          font-weight: 700;
          line-height: 36px;
          letter-spacing: 0em;
          text-align: left;
          color: #552C3C;
          max-width: 950px;
        }
