/* ImageMixer.module.css */

.imageContainer {
  position: relative;
  width: 1085px;
  height: 878px;
}

.imageInte {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
}

.grayFilter {
  filter: grayscale(100%);
}

.image1 {
  top: 120px;
  left: 570px;
  width: 104px;
  height: 82px;
}

.image2 {
  top: 40px;
  left: 770px;
  width: 59px;
  height: 63px;
}
.image3 {
  top: 190px;
  left: 730px;
  width: 71px;
  height: 62px;
}
.image4 {
  top: 260px;
  left: 830px;
  width: 65px;
  height: 65px;
}
.image5 {
  top: 460px;
  left: 840px;
  width: 97px;
  height: 163px;
}

.image6 {
  top: 440px;
  left: 680px;
  width: 56px;
  height: 90px;
}
.image7 {
  top: 40px;
  left: 850px;
  width: 195px;
  height: 368px;
}
.image8 {
  top: 45px;
  left: 340px;
  width: 43px;
  height: 31px;
}
.image9 {
  top: 490px;
  left: 230px;
  width: 500px;
  height: 250px;
}

.image10 {
  top: 700px;
  left: 610px;
  width: 210px;
  height: 210px;
  object-fit: contain;
}
.image11 {
  top: 780px;
  left: 440px;
  width: 90px;
  height: 90px;
}
.image12 {
  top: 160px;
  left: 60px;
  width: 73px;
  height: 42px;
}
.image13 {
  top: 460px;
  left: 430px;
  width: 53px;
  height: 47px;
}
.image14 {
  top: 460px;
  left: 430px;
  width: 33px;
  height: 50px;
}
.image15 {
  top: 460px;
  left: 430px;
  width: 46px;
  height: 45px;
}

.image16 {
  top: 460px;
  left: 430px;
  width: 55px;
  height: 52px;
}

.image17 {
  top: 460px;
  left: 430px;
  width: 14px;
  height: 14px;
}

.image18 {
  top: 460px;
  left: 430px;
  width: 46px;
  height: 38px;
}

.image19 {
  top: 460px;
  left: 430px;
  width: 45px;
  height: 24px;
}
.image20 {
  top: 460px;
  left: 430px;
  width: 61px;
  height: 41px;
}
.image21 {
  top: 460px;
  left: 430px;
  width: 71px;
  height: 81px;
}
.image22 {
  top: 460px;
  left: 430px;
  width: 64px;
  height: 73px;
}
.image23 {
  top: 460px;
  left: 430px;
  width: 38px;
  height: 26px;
}
.image24 {
  top: 460px;
  left: 430px;
  width: 36px;
  height: 27px;
}
.image25 {
  top: 460px;
  left: 430px;
  width: 33px;
  height: 27px;
}
.image26 {
  top: 460px;
  left: 430px;
  width: 47px;
  height: 45px;
}
.image27 {
  top: 460px;
  left: 430px;
  width: 36px;
  height: 26px;
}
.image28 {
  top: 460px;
  left: 430px;
  width: 34px;
  height: 46px;
}
.image29 {
  top: 460px;
  left: 430px;
  width: 64px;
  height: 41px;
}
