/* ImageMixer.module.css */

.imageContainer {
  position: relative;
  max-width: 1085px;
  max-height: 878px;
  width: 95%;
  height: 100%;
  margin: auto;
}

.imageInte {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
  height: auto;
}
.showFirst {
  z-index: 99;
}
.imageInte:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}
.grayFilter {
  filter: grayscale(100%);
}

.image1 {
  left: 44.884793%;
  width: 22.5806%;
}

.image2 {
  top: 3.1963%;
  left: 69.9539%;
  width: 7.8341%;
}
.image3 {
  top: 18.4932%;
  left: 62.3963%;
  width: 20%;
}
.image4 {
  top: 6.9635%;
  left: 79.6313%;
  width: 20%;
}
.image5 {
  top: 36.9863%;
  left: 87.7419%;
  width: 12.2581%;
}

.image6 {
  top: 43.8356%;
  left: 61.106%;
  width: 10.0461%;
}
.image7 {
  top: 47.1461%;
  left: 72.0737%;
  width: 17.8802%;
}
.image8 {
  top: 57.6484%;
  left: 25.4378%;
  width: 42.3041%;
}
.image9 {
  top: 44.0639%;
  left: 16.4977%;
  width: 28.7558%;
}

.image10 {
  top: 8.4475%;
  left: 9.9539%;
  width: 32.4424%;
}

.image11 {
  width: 21.56682%;
}
.image12 {
  top: 39.9543%;
  width: 11.9816%;
}
.image13 {
  top: 68.2648%;
  left: 4.7005%;
  width: 14.5622%;
}
.image14 {
  top: 82.6484%;
  left: 19.2627%;
  width: 18.5253%;
}
.image15 {
  top: 90.183%;
  left: 41.7512%;
  width: 7.0046%;
}

.image16 {
  top: 88.356%;
  left: 52.811%;
  width: 23.134%;
}

.imageMapeo {
  top: 26.598%;
  left: 37.788%;
  width: 29.954%;
}














.imagesContainer {
  position: relative;
  max-width: 1320px;
  max-height: 1510px;
  width: 95%;
  height: 100%;
  margin: auto;
}
.image1_1{
  left: 42%;
  top: 41vw;
  width: 21.72%;
}

.image1_2 {
  top: 35vw;
  left: 42.5%;
  width: 2.3%;
}
.image1_3 {
  top: 35vw;
  left: 45.5%;
  width: 4.39%;
}
.image1_4 {
  top: 35vw;
  left: 50.5%;
  width: 2.3%;
}
.image1_5 {
  top: 35vw;
  left: 53%;
  width: 4.39%;
}

.image1_6 {
  top: 35vw;
  left: 57.5%;
  width: 2.3%;
}
.image1_7 {
  top: 35vw;
  left: 60%;
  width: 4.39%;
}
.image1_8 {
  top: 39vw;
  left: 42%;
  width: 3.24%;
}
.image1_9 {
  top: 44vw;
  left: 42%;
  width: 3.24%;
}

.image1_10 {
  top: 46vw;
  left: 20%;
  width: 20.40%;
}

.image1_11 {
  width: 14.59%;
  top: 35vw;
  left: 66%;
}
.image1_12 {
  top: 38vw;
  left: 45.5%;
  width: 35.08%;
}
.image1_13 {
  top: 49.5vw;
  left: 74%;
  width: 6.39%;
}
.image1_14 {
  left: 19.2627%;
  width: 33.45%;
}
.image1_15 {
  left: 50.74%;
  width: 33.45%;
}

.image1_16 {
  top: 22vw;
  left: 42.5%;
  width: 38.77%;
}
.image1_17 {
  top: 27vw;
  left: 20%;
  width: 20.81%;
}
.image1_18 {
  top: 9vw;
  left: 20%;
  width: 65%;
}
.image1_19 {
  top: 48vw;
  left: 42%;
  width: 39.5%;
}
.image1_20 {
  top: 20vw;
  left: 20%;
  width: 20.81%;
}
.image1_21 {
  top: 33vw;
  left: 43%;
  width: 12.21%;
}
.image1_22 {
  top: 37vw;
  left: 20%;
  width: 20.98%;
}


@media (max-width: 450px) {

  .image1_1{
    left: 42%;
    top: 90%;
    width: 21.72%;
  }
  
  .image1_2 {
    top: 35vw;
    left: 42.5%;
    width: 2.3%;
  }
  .image1_3 {
    top: 35vw;
    left: 45.5%;
    width: 4.39%;
  }
  .image1_4 {
    top: 35vw;
    left: 50.5%;
    width: 2.3%;
  }
  .image1_5 {
    top: 35vw;
    left: 53%;
    width: 4.39%;
  }
  
  .image1_6 {
    top: 35vw;
    left: 57.5%;
    width: 2.3%;
  }
  .image1_7 {
    top: 35vw;
    left: 60%;
    width: 4.39%;
  }
  .image1_8 {
    top: 85%;
    left: 42%;
    width: 3.24%;
  }
  .image1_9 {
    top: 95%;
    left: 42%;
    width: 3.24%;
  }
  
  .image1_10 {
    top: 100%;
    left: 20%;
    width: 20.40%;
  }
  
  .image1_11 {
    width: 14.59%;
    top: 70%;
    left: 66%;
  }
  .image1_12 {
    top: 78%;
    left: 45.5%;
    width: 35.08%;
  }
  .image1_13 {
    top: 100%;
    left: 74%;
    width: 6.39%;
  }
  .image1_14 {
    left: 19.2627%;
    width: 33.45%;
  }
  .image1_15 {
    left: 50.74%;
    width: 33.45%;
  }
  
  .image1_16 {
    top: 40%;
    left: 42.5%;
    width: 38.77%;
  }
  .image1_17 {
    top: 55%;
    left: 20%;
    width: 20.81%;
  }
  .image1_18 {
    top: 15%;
    left: 20%;
    width: 65%;
  }
  .image1_19 {
    top: 100%;
    left: 42%;
    width: 39.5%;
  }
  .image1_20 {
    top: 40%;
    left: 20%;
    width: 20.81%;
  }
  .image1_21 {
    top: 73%;
    left: 43%;
    width: 12.21%;
  }
  .image1_22 {
    top: 80%;
    left: 20%;
    width: 20.98%;
  }
  
}

.imageMapeo {
  top: 26.598%;
  left: 37.788%;
  width: 29.954%;
}













