.imageContainerHizqa {
  position: relative;
  max-width: 1232px;
  max-height: 1080px;
  width: 100%;
  /* height: 1080px; */
  aspect-ratio: 1;
  margin: auto;
  margin-bottom: 200px;
}

.imageH1 {
  left: 25.854%;
  top: 30.463%;
  width: 6.599%;
}

.imageH2 {
  top: 3.426%;
  left: 43.556%;
  width: 8.618%;
}
.imageH3 {
  top: 6.019%;
  left: 59.239%;
  width: 5.202%;
}
.imageH4 {
  top: 7.13%;
  left: 67.624%;
  width: 3.494%;
}
.imageH5 {
  top: 45.556%;
  left: 21.826%;
  width: 9.823%;
}

.imageH6 {
  top: 68.259%;
  left: 71.817%;
  width: 8.531%;
}
.imageH7 {
  top: 53.889%;
  left: 89.363%;
  width: 6.599%;
}
.imageH8 {
  top: 26.111%;
  left: 85.326%;
  width: 13.043%;
}
.imageH9 {
  top: 2.019%;
  left: 72.902%;
  width: 21.351%;
}

.imageH10 {
  top: 30.185%;
  left: 0.776%;
  width: 17.624%;
}

.imageH11 {
  top: 15.241%;
  left: 37.587%;
  width: 29.5%;
}
.imageH12 {
  top: 38.148%;
  left: 72.438%;
  width: 10.947%;
}
.imageH13 {
  top: 63.4944%;
  left: 74.398%;
  width: 16.537%;
}
.imageH14 {
  top: 82.426%;
  left: 59.614%;
  width: 8.065%;
}
.imageH15 {
  top: 83.537%;
  left: 54.293%;
  width: 22.342%;
}

.imageH16 {
  top: 89.815%;
  left: 46.196%;
  width: 6.056%;
}
.imageH17 {
  left: 11.258%;
  width: 28.96%;
}
.imageH18 {
  top: 79.522%;
  left: 22.125%;
  width: 19.528%;
}
.imageH19 {
  top: 90.13%;
  left: 38.217%;
  width: 7.416%;
}
.imageH20 {
  left: 36.724%;
  top: 40.556%;
  width: 31.056%;
}

.imageH21 {
  left: 25.398%;
  top: 66.667%;
  width: 9.298%;
}

.imageH22 {
  left: 62.0342%;
  top: 15.7407%;
  width: 13.58%;
}
